{:highlights [{:id #uuid "66426b6e-39d6-46bc-bf18-c5a3918d9d39",
               :page 1,
               :position {:bounding {:x1 144.75106811523438,
                                     :y1 765.3125,
                                     :x2 287.91571044921875,
                                     :y2 780.3125,
                                     :width 789,
                                     :height 1021.0588235294118},
                          :rects ({:x1 144.75106811523438,
                                   :y1 765.3125,
                                   :x2 287.91571044921875,
                                   :y2 780.3125,
                                   :width 789,
                                   :height 1021.0588235294118}),
                          :page 1},
               :content {:text "Begriff des Selbstzwecks"},
               :properties {:color "red"}}
              {:id #uuid "66426ba4-99bf-43cd-814d-afad04739f42",
               :page 1,
               :position {:bounding {:x1 340.15496826171875,
                                     :y1 400.59375,
                                     :x2 479.4327392578125,
                                     :y2 419.59375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 340.15496826171875,
                                   :y1 400.59375,
                                   :x2 479.4327392578125,
                                   :y2 419.59375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "f tierische Produkte"},
               :properties {:color "red"}}
              {:id #uuid "66426bac-6eb3-49e6-aef2-f21f85609798",
               :page 1,
               :position {:bounding {:x1 374.84375,
                                     :y1 579.984375,
                                     :x2 497.017822265625,
                                     :y2 598.984375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 374.84375,
                                   :y1 579.984375,
                                   :x2 497.017822265625,
                                   :y2 598.984375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "auf, auf die sich "},
               :properties {:color "red"}}
              {:id #uuid "66426c86-4d57-4c65-aeed-8772a59b515f",
               :page 1,
               :position {:bounding {:x1 155.640625,
                                     :y1 659.703125,
                                     :x2 863.4313354492188,
                                     :y2 738.375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 180.53125,
                                   :y1 659.703125,
                                   :x2 862.3917236328125,
                                   :y2 678.703125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.640625,
                                   :y1 679.515625,
                                   :x2 863.4313354492188,
                                   :y2 698.515625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.640625,
                                   :y1 699.4375,
                                   :x2 863.3801879882812,
                                   :y2 718.4375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 155.640625,
                                   :y1 719.375,
                                   :x2 299.38861083984375,
                                   :y2 738.375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Der erste Abschnitt dieser Arbeit ist Kants deontologische Moraltheorie gewidmet, um die Grundlagen vieler Argumente im Verlauf der Arbeit erfassen zu k¨onnen. Da sich Korsgaards Auslegung der deontologischen Moraltheorie von Kants Aussagen in einigen wichtigen Punkten unterscheidet, werden"},
               :properties {:color "yellow"}}
              {:id #uuid "6643613b-b4e8-484f-b548-2d022fbb06aa",
               :page 1,
               :position {:bounding {:x1 226.9844207763672,
                                     :y1 250.89584350585938,
                                     :x2 448.5206298828125,
                                     :y2 260.8958435058594,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 226.9844207763672,
                                   :y1 250.89584350585938,
                                   :x2 448.5206298828125,
                                   :y2 260.8958435058594,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 1},
               :content {:text "auf den an verschiedenen Stellen der vorliegenden Arbe"},
               :properties {:color "blue"}}],
 :extra {:page 1}}
