{:highlights [{:id #uuid "66426b6e-39d6-46bc-bf18-c5a3918d9d39",
               :page 1,
               :position {:bounding {:x1 144.75106811523438,
                                     :y1 765.3125,
                                     :x2 287.91571044921875,
                                     :y2 780.3125,
                                     :width 789,
                                     :height 1021.0588235294118},
                          :rects ({:x1 144.75106811523438,
                                   :y1 765.3125,
                                   :x2 287.91571044921875,
                                   :y2 780.3125,
                                   :width 789,
                                   :height 1021.0588235294118}),
                          :page 1},
               :content {:text "Begriff des Selbstzwecks"},
               :properties {:color "red"}}],
 :extra {:page 1}}
